<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/1.14.2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="26.0.33"/>
<mapEntry key="MCP_MAPPINGS" value="snapshot_20190608-1.14.2"/>
<mapEntry key="MCP_VERSION" value="20190603.175704"/>
<mapEntry key="MC_VERSION" value="1.14.2"/>
<mapEntry key="MOD_CLASSES" value="examplemod%%/Users/nathanmartin/Dropbox/Better Beds/1.14.2/bin/main:examplemod%%/Users/nathanmartin/Dropbox/Better Beds/1.14.2/bin/main"/>
<mapEntry key="assetDirectory" value="/Users/nathanmartin/.gradle/caches/forge_gradle/assets"/>
<mapEntry key="assetIndex" value="1.14"/>
<mapEntry key="nativesDirectory" value="/Users/nathanmartin/Dropbox/Better Beds/1.14.2/build/natives"/>
<mapEntry key="target" value="fmluserdevclient"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1.14.2"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP -XstartOnFirstThread -Xss1M"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/nathanmartin/Dropbox/Better Beds/1.14.2/run"/>
</launchConfiguration>
